<mat-card class="mat-card-container">
    <mat-card-title class="mat-card-title">Ricardo Silva</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">Frontend Developer</mat-card-subtitle>
    <h1>Sobre mim</h1>
    <mat-card-content class="description">Recém-formado em Análise e Desenvolvimento de Sistemas ,com uma sólida formação em desenvolvimento
        web front-end. Durante meus estudos, obtive experiência prática em linguagens como Python,Java, JavaScript, e em
        frameworks front-end como angular e ReactJS.Desenvolvi projetos que destacam minha capacidade de transformar
        conceitos criativos em interfaces intuitivas e agradáveis.</mat-card-content>
</mat-card>
